<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BUTER IN KUBE</title>

    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/5.0.2/css/bootstrap.min.css} "/>
</head>
<body>
<div class="container">
    <div style="display: none" id="authServiceUrl" th:text="${authServiceUrl}"></div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">BUTER IN KUBE</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">ГЛАВНАЯ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/orders">ЗАКАЗЫ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/login">ВХОД</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="text-center">
        <h1>меню</h1>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Описание</th>
            <th>Количество</th>
            <th>Цена</th>
            <th>Добавить в заказ</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="buter: ${buters}" th:id="${buter.id}">
            <td th:text="${buter.id}"></td>
            <td th:id='${buter.id + "_name"}' th:text="${buter.name}"></td>
            <td th:text="${buter.desc}"></td>
            <td th:text="${buter.quantity}"></td>
            <td th:text="${buter.price}"></td>
            <td><button type="button" class="btn btn-success" th:value="${buter.id}" th:onclick="addToOrder(this.value)">Добавить</button></td>
        </tr>
        </tbody>
    </table>
    <div class="text-center">
        <h2>Ваш заказ</h2>
        <ul id="orderList" class="list-group text-center"></ul>
        <button type="button" class="btn btn-primary" th:onclick="createOrder()">Заказать</button>
    </div>
</div>

<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
<script th:src="@{/webjars/jquery-cookie/1.4.1-1/jquery.cookie.js}"></script>
<script th:src="@{/webjars/popper.js/2.9.2/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.0.2/js/bootstrap.min.js}"></script>

<script>
    let order = {};

    $(function() {
        var TOKEN_KEY = "jwtToken";

        addToOrder = function(id) {
            order[id] = order[id] ? order[id] + 1 : 1;
            const liText = $(`td#${id}_name`)[0].innerHTML + ` (${order[id]} шт.)`;
            if ($(`#order_pos_${id}`)[0]) {
                $(`#order_pos_${id}`)[0].innerHTML = liText;
            } else {
                $("#orderList").append(`<li id='order_pos_${id}' class="list-group-item">${liText}</li>`);
            }
        }

        createOrder = function() {
            $.ajax({
                type: "POST",
                url: "/order",
                headers: createAuthorizationTokenHeader(),
                contentType: "application/json",
                data: JSON.stringify(order),
                success: function (data, textStatus, jqXHR) {
                    order = {};
                    $("#orderList li").remove();
                    alert("Заказ создан, спасибо! Мы уже начали его обрабатывать.");
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("Что-то пошло не так: " + jqXHR.status);
                },
                dataType: "text"
            });
        }

        function getJwtToken() {
            return $.cookie(TOKEN_KEY);
        }

        function createAuthorizationTokenHeader() {
            const token = getJwtToken();
            if (token) {
                return {"Authorization": "Bearer " + token};
            } else {
                return {};
            }
        }

        if (!getJwtToken()) {
            document.location.href = "/login";
        }
    });
</script>
</body>
</html>